[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = "*"
httpx = "*"

[dev-packages]
mypy = "*"
twine = "*"
pylint = "*"
pre-commit = "*"
black = "*"
build = "*"
types-setuptools = "*"

[requires]
python_version = "3.11"
